div.stepper {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
}

.bg_grey_dark {
  background-color: grey;
}
.bg_grey_light {
  background-color: rgb(202, 199, 199);
}

.steppers {
  display: flex;
  column-gap: 4px;
  justify-content: center;
  align-items: center;
}

.slider {
  display: inline-block;
  padding: 2px 1.5rem;
  border-radius: 4px;

  background: linear-gradient(to left, rgb(247, 27, 2) 50%, rgb(19, 172, 5) 50%)
    right;
  background-size: 200%;
  transition: 0.5s ease-out;
}
.bg_position {
  background-position: left;
}

.wrapper {
  border: 1px solid rgb(206, 206, 206);
  padding: 1rem;
  border-radius: 10px;
  background-color: rgb(211, 248, 201);
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

p {
  color: #1e96ff;
}

img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}
